@import "reset";
@import "vars";
@import "header";
@import "main_container";
@import "movies";
@import "form";
@import "footer";

.clear
{
    clear: both;
}

body
{
    background-image: url(../images/backgroung.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 50px;
    
    @media screen and (max-width: 550px)
    {
        background-position: 0 150px;
    }
}